@import url("./cards.css");
@import url("./header.css");
@import url("./text.css");
@import url("./img.css");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #48DD5A;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #A7FFA4;
    margin: 20px;
}

.h2{
    font-weight: 500px;
    font-size: large;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
    font-size: larger;
    font-size: 20px;
}


